#
# Display & GPU
#
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM=y
CONFIG_DRM_EXYNOS=y
CONFIG_DRM_SAMSUNG_DSIM=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_DRM_PANEL_SAMSUNG_S6E3HA8=m
# Fix this:
# undefined reference to `drm_dsc_pps_payload_pack'
# CONFIG_DRM_PANEL_SAMSUNG_S6E3HA8=y

#
# Touchscreen
#
CONFIG_TOUCHSCREEN_S6SY761=y

#
# Power Management
#
CONFIG_BATTERY_MAX17042=y
CONFIG_CHARGER_MAX77705=y
CONFIG_MFD_MAX77705=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_SENSORS_MAX77705=y

#
# Audio
#
CONFIG_GPIO_MADERA=y
CONFIG_MADERA_IRQ=y
CONFIG_MFD_CS47L92=y
CONFIG_MFD_MADERA=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PINCTRL_CS47L92=y

#
# Sensors (IIO)
#
CONFIG_AK8975=y
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_IIO_ST_LSM6DSX_I2C=m
CONFIG_IIO_ST_LSM6DSX_SPI=m
CONFIG_IIO_ST_PRESS=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_IIO_ST_PRESS_SPI=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_IIO_ST_SENSORS_CORE=y

#
# LED drivers
#
CONFIG_LEDS_MAX77705=m

#
# Haptic controller
#
CONFIG_INPUT_MAX77693_HAPTIC=y
